body {
}

.mainDiv {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 64.1%;
  height: 64%;
  background-color: #eff7fc;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
  border:1px groove;
  border-color:#dae7ef;
}



.login2 {
position:absolute;
margin-left:20%;
margin-top:10%;
height:40%;
width:20%;
background-color:#edefef;
}

.imgClass {
    width:100%;
}

.addProducts{
position:absolute;
background-color:#dae7ef;
margin-left:20%;
margin-top:3%;
height:5%;
width:10%;
text-align:center;
}

.addCategory {
position:absolute;
background-color:#dae7ef;
margin-left:20%;
margin-top:7%;
height:5%;
width:10%;
text-align:center;
}

.addSubCategory {
position:absolute;
background-color:#dae7ef;
margin-left:20%;
margin-top:12%;
height:5%;
width:10%;
text-align:center;
}

.Category {
position:absolute;
background-color:#dae7ef;
margin-left:20%;
margin-top:12%;
height:15%;
width:15%;
}

